#noticies_menu {
	text-align: center;
}

.inline_noticies_menu {
	display: inline-block;
}

.inline_noticies_menu a {
	text-align: center;
	border: 1px solid #0a06ac;	/*枠線の幅、線種、色*/
	border-radius: 10px;	/*角丸のサイズ*/
	display: block;
	text-decoration: none;
	padding: 10px 10px;	/*上下、左右へとる余白*/
	color: #0a06ac;	/*文字色*/
	width: 100px;
}

.inline_noticies_menu a:hover {
	color: #fff;		/*文字色*/
	background: #0a06ac;	/*背景色*/
}

.edit_notice_form_button, .delete_notice_modal_button {
	text-align: center;
	display: block;
	border: 1px solid #0a06ac;	/*枠線の幅、線種、色*/
	border-radius: 10px;	/*角丸のサイズ*/
	text-decoration: none;
	padding: 10px 10px;	/*上下、左右へとる余白*/
	color: #0a06ac;	/*文字色*/
	width: 100px;
	margin: auto;
}

.delete_notice_modal_button:hover, .edit_notice_form_button:hover {
	color: #fff;		/*文字色*/
	background: #0a06ac;	/*背景色*/
}

.delete_notice_modal_content {
	display: none;
	position: fixed;
	z-index: 10; /*サイトによってここの数値は調整 */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.delete_notice_modal {
	border-radius: 10px;
	width:50%;
	height: 200px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:50px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

.delete_notice_modal_text {
	text-align: center;
}

.delete_notice_buttons {
	margin:10px;
	text-align: center;
}