/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;
	color: #FFF;
	font-size: 10px;
	padding: 0px 5px;
	border-radius: 2px;
	margin: 0px 5px;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new {
	margin-bottom: 15px;
}
#new dl{
	padding-left: 15px;
	height: 140px;	/*ブロックの高さ。全て表示させたいならこの行と下の１行を削除。*/
	overflow: auto;	/*ブロックの高さを超えるコンテンツ量になった時に自動でスクロールバーを出す*/
}
/*日付設定*/
#new dt {
	font-weight: bold;	/*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	padding-left: 8em;
}