#main section table td .favorite_user_party_modal_button {
	text-align: center;
	border: 1px solid #0a06ac;	/*枠線の幅、線種、色*/
	border-radius: 10px;	/*角丸のサイズ*/
	text-decoration: none;
	padding: 10px 10px;	/*上下、左右へとる余白*/
	color: #0a06ac;	/*文字色*/
	width: 100px;
	margin: auto;
}

#main section table td .favorite_user_party_modal_button:hover {
	color: #fff;		/*文字色*/
	background: #0a06ac;	/*背景色*/
}

#main section table td .release_user_party_modal_button {
	text-align: center;
	border: 1px solid #ff0000;	/*枠線の幅、線種、色*/
	border-radius: 10px;	/*角丸のサイズ*/
	text-decoration: none;
	padding: 10px 10px;	/*上下、左右へとる余白*/
	color: #ff0000;	/*文字色*/
	width: 100px;
	margin: auto;
}

#main section table td .release_user_party_modal_button:hover {
	color: #fff;		/*文字色*/
	background: #ff0000;	/*背景色*/
}

.favorite_user_party_modal_content {
	display: none;
	position: fixed;
	z-index: 10; /*サイトによってここの数値は調整 */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.favorite_user_party_modal {
	border-radius: 10px;
	width:50%;
	height: 200px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:50px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

.favorite_user_party_modal_text {
	text-align: center;
}

.favorite_user_party_buttons {
	margin:10px;
	text-align: center;
}

.release_user_party_modal_content {
	display: none;
	position: fixed;
	z-index: 10; /*サイトによってここの数値は調整 */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.release_user_party_modal {
	border-radius: 10px;
	width:50%;
	height: 200px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:50px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

.release_user_party_modal_text {
	text-align: center;
}

.release_user_party_buttons {
	margin:10px;
	text-align: center;
}